* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #4aa8ab;
}

.grid {
	height: 100vh;
	background-color: #f2f2f2;
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-rows: repeat(8, minmax(0, 1fr));
}

#header {
	background-color: #B0FFE3;
	grid-row: 1 / 2;
	grid-column: 1 / 13;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

#main {
	border: #4aa8ab 4px double;
	grid-row: 2 / 9;
	grid-column: 3 / 13;
}

#aside {
	background-color: #B0FFE3;
	grid-row: 2/ 9;
	grid-column: 1 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}



.form {
	display: flex;
	flex-direction: column;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px 20px;
	padding: 10px;
	
}

.radioContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px;
	padding: 0 10px;
}

label {
	margin: 0 10px 0 2px;
}

.submit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-self: center;
	align-items: center;
	margin: 5px 20px;
	padding: 10px;
}

.task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5px 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	background-color: #f2f2f2;
}


.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	background-color: #f2f2f2;
	height: 50px;
	width: 90px;
	font-weight: 700;
}

.closeBtn {
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
	align-items: center;
	margin: 5px 20px;
	padding: 10px;
	
	width: fit-content;
	font-weight: 700;
}